@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
nav a{
    color: white; 
    font-family:'Open Sans', sans-serif;
}
nav ul li a{
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.contenido {
    min-height:  41.6em;
    background-color: whitesmoke;
    color: black;
    font-family: 'Open Sans', sans-serif;
    padding-top: 1em ;
    padding-bottom: 1em ;
}
.conte {
    background-image: url("black-1072366.jpg");
    background-size: 100% auto ;
      background-repeat: no-repeat;
}