<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-ligh " style="background-color: #343a40;">
        <a class="navbar-brand" routerLink="" ><strong>¿Quiénes somos?</strong></a>
        
         <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <!--<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" routerLink="student">Estudiantes </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="professor">Profesores </a>
      </li>

    </ul>-->
    
  </div>
        
        
            <span [hidden]="!usuarioActual.exists" style="color: white">{{usuarioActual.user.name }}</span>
     
        
        <div class="dropdown ml-auto dropleft" [hidden]="usuarioActual.exists" >
         <button type="button" class="btn btn-outline-dark dropdown-toggle" style=" color: white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sign in
  </button>
       <div class="dropdown-menu">
      <form class="px-4 py-3" [formGroup]="myform">
        <div class="form-group">
          <label for="exampleDropdownFormEmail1">Email</label>
          <input formControlName="email" type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
        </div>
        <div class="form-group">
          <label for="exampleDropdownFormPassword1">Password</label>
          <input formControlName="password" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" (click)="inicioSesion()">Sign in</button>
      </form>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" style="color: grey">Eres nuevo?</a>

    </div>
   </div>
    </nav> 
</header>

<!--<pre>{{myform.value | json}}</pre>-->
<div class="conte"> </div>
 <div class=" container-fluid" >
     <router-outlet></router-outlet>
 </div>
 


